
body {
	background-color: white;
	font-family : Verdana, Geneva, sans-serif;
}
.mesinfos img{
	float: left;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	border-radius: 30px;
	width: 90px;
	height: 80px;

}

@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:700);

*, *:before, *:after {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #FFFFFF;
}

a, a:visited {
    outline: medium none;
    text-decoration: none;
    transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -webkit-transition: all 0s ease 0s;
}

.nav {
    margin: 5% 0;
    text-align: center;
}

.nav li {
    display: inline-block;
}

.nav li a {
    display: block;
    font: 20px/1.2 'Source Code Pro', sans-serif;
    padding: 5px 15px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #666666;   
}

.nav li a:hover, .nav li a:active {
    color: #B0392E;
    text-decoration: none;
}

.nav li.fade a {
    color: transparent;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}  
.item:hover{  
	background-color: red;
	font-size: 30px;
}
.colonneun {
	float:left;
	width: 16%;
	height: 1500px;
	background-color: #212625;
	padding: 2%;

}
.mesinfos{
	width: 16%;
	height: 25%
}
.logo1 {
	display: inline;
	width:16%;
	height:25%;
}
.colonnedeux {
	display: inline-block;
	 width:36%; 
	 height: 1500px;
   background-color:rgba(12,13,11,0.1)    /* 10% opaque red */ ;
   padding: 2%;
}
.colonnetrois {
	float: right;
	width:36%;
	height: 1500px;
   background-color:#8B8C81;
   padding: 2%;
}
#developp {
	padding-top: 50%;
	height: 50px;
	width: 90px;
	margin-top: -20px;
    background-color: #28A9E2;
    text-align: center;
    border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-style: solid;
	border-top: none;
	display:none;
}
#twitter img {
      height:80px;
      width: 90px;
      margin-bottom:10px
      border-width: 10px;
	  border-color: black;
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  border-style: solid;
}
#twitter img:hover {
	height: 100px;
	border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
a #twitter{
	height:180px;
	width: 180px;
}
.Twitter {
	float:left;
}
.facebook{
	float: right;
}
#developpfb {
	padding-top: 50%;
	height: 50px;
	width: 90px;
	margin-top: -20px;
    text-align: center;
    background-color: #3B5999;
    border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-style: solid;
	border-top: none;
	display: none;
	color:white;
	border-color: black;
	font-size: 20px;
	font-weight: bold;
}
#fb img {
      height:80px;
      width: 90px;
      margin-bottom:10px
      border-width: 10px;
	  border-color: black;
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  border-style: solid;
}
#fb img:hover {
	height: 100px;
	border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
a #fb{
	height:180px;
	width: 180px;
}
/*EXPERIENCES*/
.toutxp{
	height: 750px;
}
#xp{
	height: 400px;
	display: none;
	font-size: 25px;
}
#xpblock{
	font-weight: bold;
	letter-spacing: 5px;
	border-radius: 100%;
	padding-top: 30%;
	background-size: 750px 800px;
	font-size: 75px;
	height: 500px;
}
#xpblock p{
	text-align: center;
	vertical-align: middle;
}
#xpblock:hover{
	font-weight: normal;
	letter-spacing: 0px;
	background-color: #212625;
	border-radius: 0%;
	padding-top: 5%;
	font-size: 75px;
	height: 100px;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
/*FORMATIONS*/
.toutformations{
	height: 750px;
}
#Formations{
	height: 400px;
	display: none;
	font-size: 25px;
}
#Formationsblock{;
	font-weight: bold;
	letter-spacing: 5px;
	border-radius: 100%;
	padding-top: 30%;
	background-size: 750px 800px;
	font-size: 75px;
	height: 500px;
}
#Formationsblock p{
	text-align: center;
	vertical-align: middle;
}
#Formationsblock:hover{
	font-weight: normal;
	letter-spacing: 0px;
	background-color: #212625;
	border-radius: 0%;
	padding-top: 5%;
	font-size: 75px;
	height: 100px;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
/*ETUDES*/
.toutetudes{
height: 750px;
}
#Etudes{
	height: 400px;
	display: none;
	font-size: 25px;
}
#Etudesblock{
	font-weight: bold;
	letter-spacing: 5px;
	border-radius: 100%;
	padding-top: 30%;
	background-size: 750px 800px;
	font-size: 75px;
	height: 500px;
}
#Etudesblock p{
	text-align: center;
	vertical-align: middle;
}
#Etudesblock:hover{
	font-weight: normal;
	letter-spacing: 0px;
	background-color: #212625;
	border-radius: 0%;
	padding-top: 5%;
	font-size: 75px;
	height: 100px;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;}
/*HOBBYS*/
.touthobbys{
	margin-top: 10px;
	height: 750px;
}
#Hobbys{
	height: 400px;
	display: none;
	font-size: 25px;
}
#Hobbysblock{
	font-weight: bold;
	letter-spacing: 5px;
	border-radius: 100%;
	padding-top: 30%;
	background-size: 750px 800px;
	font-size: 75px;
	height: 500px;
}
#Hobbysblock p{
	text-align: center;
	vertical-align: middle;
}
#Hobbysblock:hover{
	font-weight: normal;
	letter-spacing: 0px;
	background-color: #212625;
	border-radius: 0%;
	padding-top: 5%;
	font-size: 75px;
	height: 100px;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
#Contact:hover{
	border-style: solid;
	border-color: black;
	height: 50%;
}
header img{
	margin-left: 90px;
	float:left;
	width: 200px;
	height: 200px;
}
header {
	display: flex;
  margin-top: -90px;
  background: #BFA288;
  padding-top: 100px;
  overflow: hidden;
  color: #FFF;
  height: 300px;
}
header * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
header .text-wrap {
  width: 200px;
  height: 100%;
}
header .text-wrap svg {
  position: absolute;
  width: 75%;
  height: auto;
  font: bold 100px sans-serif;
  text-transform: uppercase;
  float:right;
}
header .text-wrap svg .gradient-layer {
  fill: url(#gr-overlay);
}
.surname{
	padding-top: 200px;
	padding-left: 0px;
	margin-left: -120px;
	font-weight: bold;
	float: left;
	font-size: 80px;
	color: black ;
	font-style: arial;
	text-align: center;
}
footer img{
	margin-left: 100px;
	width: 200px;
	height: 200px;
}
footer {
	display: flex;
  margin-top: 0px;
  background: #BFA288;
  padding-top: 100px;
  overflow: hidden;
  color: #FFF;
  height: 200px;
}
footer * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.van {
    margin: 5% 0;
    text-align: center;
}

.van li {
    display: inline-block;
}

.van li a {
    display: block;
    font: 20px/1.2 'Source Code Pro', sans-serif;
    padding: 5px 15px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #666666;   
}
.objet:hover{  
	color: red;
	font-size: 30px;
}
footer p {
	margin: 5%;
	display: block;
    font: 20px/1.2 'Source Code Pro', sans-serif;
    padding: 5px 15px;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    color: #666666;   
}