body {
	background-color: #AAAAAA;
	font-family : Verdana, Geneva, sans-serif;
}
.mesinfos img{
	float: left;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	border-radius: 30px;
	width: 90px;
	height: 80px;

}
.Name {
	color: darkred;
	font-size: 75px;
	font-style: arial;
	text-align: center;
	background-image: url(http://images.all-free-download.com/images/graphiclarge/black_pattern_background_206850.jpg);
}
ul {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
	 border: 1px solid #555;
	 border-radius: 40px;

}
ul li {
	display: inline;
	list-style: none;
}
ul a {
	display:inline-block;
	margin: 0 30px;
	text-decoration: none;
}
.item:hover{  
	background-color: red;
	font-size: 30px;
}
.colonneun {
	float:left;
	width: 16%;
	height: 1500px;
	background-color: #35405A;
	padding: 2%;
	border-radius: 40px;

}
.mesinfos{
	width: 16%;
	height: 25%
}
.logo1 {
	display: inline;
	width:16%;
	height:25%;
}
.colonnedeux {
	display: inline-block;
	 width:36%; 
	 height: 1500px;
   background-color:#B94B41; 
   padding: 2%;
   border-radius: 40px;
}
.colonnetrois {
	float: right;
	width:36%;
	height: 1500px;
   background-color:#E7C346;
   padding: 2%;
   border-radius: 40px;
}
#developp {
	padding-top: 50%;
	height: 50px;
	width: 90px;
	margin-top: -20px;
    background-color: #28A9E2;
    text-align: center;
    border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-style: solid;
	border-top: none;
	display:none;
}
#twitter img {
      height:80px;
      width: 90px;
      margin-bottom:10px
      border-width: 10px;
	  border-color: black;
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  border-style: solid;
}
#twitter img:hover {
	height: 100px;
	border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
a #twitter{
	height:180px;
	width: 180px;
}
.Twitter {
	float:left;
}
.facebook{
	float: right;
}
#developpfb {
	padding-top: 50%;
	height: 50px;
	width: 90px;
	margin-top: -20px;
    text-align: center;
    background-color: #3B5999;
    border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-style: solid;
	border-top: none;
	display: none;
}
#fb img {
      height:80px;
      width: 90px;
      margin-bottom:10px
      border-width: 10px;
	  border-color: black;
	  border-top-left-radius: 30px;
	  border-top-right-radius: 30px;
	  border-style: solid;
}
#fb img:hover {
	height: 100px;
	border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
a #fb{
	height:180px;
	width: 180px;
}
#xp{
	padding: 15px;
	margin-top: 0px;
	height: 28%;
	display: none;
	border-style: solid;
	border-color: black;
}
#xpblock{
	background-size: 750px 800px;
	background-image:url(https://i.pinimg.com/564x/ca/66/0f/ca660f13ddb6d2ab60dec0ed609c494c.jpg);
	padding-top: 300px;
	font-size: 50px;
	height: 33%;
	border-style: solid;
	border-color: black;
}
#xpblock p{
	text-shadow: 3px 2px grey;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: black;
}
#xpblock:hover{
	padding-bottom: -100px;
	padding: 0px;
	font-size: 25px;
	height: 5%;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
    border-style: solid;
	border-color: black;
}
#Formations{
	padding: 15px;
	padding-top: 0px;
	height: 28%;
	display: none;
	border-style: solid;
	border-color: black;
}
#Formationsblock{
	padding-top: 300px;
	font-size: 50px;
	height: 33%;
	border-style: solid;
	border-color: black;
}
#Formationsblock p{
	text-shadow: 3px 2px grey;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: black;
}
#Formationsblock:hover{
	padding-bottom: -100px;
	padding: 0px;
	font-size: 25px;
	height: 5%;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
    border-style: solid;
	border-color: black;
}
#Etudes{
	padding:15px;
	border: 30px solid transparent;
	margin-top: 0px;
	height: 28%;
	display: none;
}
#Etudesblock{
	background-size: 750px 800px;
	background-image: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/62/11/3757a997761e0e4.jpg);
	padding-top: 300px;
	font-size: 50px;
	height: 33%;
	border-style: solid;
	border-color: black;
}
#Etudesblock p{
	text-shadow: 3px 2px grey;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: black;
}
#Etudesblock:hover{
	padding-bottom: -100px;
	padding: 0px;
	font-size: 25px;
	height: 5%;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
#Hobbys{
	padding:15px;
	border: 30px solid transparent;
	margin-top: 0px;
	height: 28%;
	display: none;
}
#Hobbysblock{
	background-size: 750px 800px;
	background-image: url();
	padding-top: 300px;
	font-size: 50px;
	height: 33%;
	border-style: solid;
	border-color: black;
}
#Hobbysblock p{
	text-shadow: 3px 2px grey;
	text-align: center;
	vertical-align: middle;
	border-style: solid;
	border-color: black;
}
#Hobbysblock:hover{
	padding-bottom: -100px;
	padding: 0px;
	font-size: 25px;
	height: 5%;
	 -webkit-transition-duration: 2s, height 4s;
    transition-duration:  2s;
}
#Contact:hover{
	border-style: solid;
	border-color: black;
	height: 50%;
}